@import "variable";
@import "mixin";

.container_about {
  @include flex-center;
  margin: 0 var(--margin-24px);
  justify-content: left;
}

.image_presentation {
  height: auto;
  object-fit: contain;
  position: relative;
  width: 100%;
  z-index: 1;
  max-width: 28.125em;
}

.title_exploration, .parcours, .title_competence, .compétences {
  font-size: var(--font-size-title);
  font-family: "Orbitron Bold", sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  margin-bottom: 1em;
  margin-top: 2em;
}

.description_exploration {
  font-size: var(--font-size-text);
  font-family: 'Exo', sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  width: 100%;
  max-width: 43.75em;
  box-sizing: border-box;
}

.parcours, .compétences {
  margin: 2em 1.5em;
}

.parcours-container {
  @include flex(column, left, $gap: 1.5em);
  margin: 0 1.5em;
}

.year {
  font-size: var(--font-size-title);
  font-family: "Orbitron Bold", sans-serif;
  margin-bottom: 1em;
}

.description_year {
  font-size: var(--font-size-text);
  font-family: Exo Light, sans-serif;
}

.item_description {
  border: 0.0625em solid white;
  border-radius: var(--border-radius);
  padding: var(--padding-24px);
}

.container_competences {
  margin: 2em 1.5em 0;
  @include flex(row, $gap: 1.5em);
  justify-content: normal;
  overflow: hidden;
  overflow-x: auto;
}

.item_competence {
  @include flex(column, null, null, 0.75em);
  border: 0.0625em solid #ddd;
  padding: 1em;
  border-radius: 0.5em;
  height: 11.25em;
}

.top_competence {
  @include flex($align: center, $justify: flex-start, $gap: 1em);
}

.img_competences {
  max-width: 3.125em;
  max-height: 3.125em;
}

.title_competence {
  font-size: 1.2em;
  font-weight: bold;
}

.compétences {
  margin: 2em 1.5em;
}

.description_competence {
  font-size: 1em;
  color: white;
  max-width: 12.5em;
  width: 12.5em;
}

.container_image {
  text-align: center;
  order: -1;
}

@media screen and (min-width: 768px) {
  .parcours-container {
    margin: 0 50px;
  }
  .container_competences {
    margin: 32px 24px;
    @include flex(row, center, center, 24px);
    flex-wrap: wrap;
  }
  .item_competence {
    height: 180px;
  }

  .container_about {
    @include flex($justify: flex-start);
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 50px;
  }
  .parcours, .compétences {
    margin: 50px 50px;
  }
  .container_content {
    order: -1;
  }
}

@media screen and (min-width: 1000px) {
  .container_competences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
  }

  .image_presentation {
    max-width: 31.25em;
    max-height: 31.25em;
  }

  .section_parcours {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
  }

  h2.compétences {
    max-width: 1100px;
    margin: 2em auto;
    width: 100%;
  }
}
