.footer {
  width: 100%;
  background: var(--background-color);
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1440px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Le conteneur de colonnes généré par WP */
.footer-columns {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
}

/* Liens */
.footer-columns a {
  font-size: 16px;
  font-family: "Orbitron Bold", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin: 8px 0;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .footer-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer-columns {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .footer-container {
    padding-left: 100px;
    padding-right: 100px;
  }


}
