
.footer-menu {
  margin-top: 48px;
  margin-left: 24px;
}

#menu-footer > li:nth-child(1) > a,
#menu-footer > li:nth-child(2) > a,
#menu-footer > li:nth-child(3) > a,
#menu-footer > li:nth-child(4) > a {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

#menu-footer-en > li:nth-child(1) > a,
#menu-footer-en > li:nth-child(2) > a,
#menu-footer-en > li:nth-child(3) > a,
#menu-footer-en > li:nth-child(4) > a {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.sub-menu {
  color: white;
  font-size: 16px;
  font-family: Exo Light, sans-serif;
  margin: 12px 0;
  display: flex;
  flex-direction: column;
}

.menu_item a {
  display: flex;
  text-decoration: none;
  color: white;
  margin: 8px 0;
}

@media screen and (min-width: 768px) {
  .footer-menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 24px 50px;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1000px) {
  .footer-menu {
    margin: 48px 100px;
    gap: 141px;
  }
}