@charset "UTF-8";
@import url("variable.scss");
html {
  background-color: #0A192F;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.nav__container a {
  color: white;
  text-decoration: none;
  position: sticky;
}

.nav__container {
  font-size: 1em; /* 16 / 16 */
  padding: 3.75em; /* 60 / 16*/
  display: flex;
  flex-direction: row;
  gap: 2em; /* 32 / 16 */
  color: white;
  text-decoration: none;
}

.logo {
  position: absolute;
  max-width: 75px;
  left: 50%;
  margin-top: 15px;
  cursor: pointer;
}

#burger-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  appearance: none;
}

.burger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
  display: none;
}


/*
Burger menus



*/
@media screen and (max-width: 800px) {
  .nav__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100px;
    max-height: 500px;
    padding: 0;
  }
  .burger {
    padding: 20px;
  }
  .burger span {
    display: block;
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

canvas#my-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  display: block;
}

.Présentation__Projet {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 3.125em; /* 50 / 16 */
  margin-bottom: 332px; /* 332 / 16 */
  margin-top: 4.6875em; /* 75 / 16 */
  padding-right: 2em; /* 32 / 16 */
}

.name {
  font-size: 3em; /* 48 / 16 */
  margin-bottom: 0.3333em; /* 16 / 48 */
  font-weight: bold;
}

.job {
  font-size: 1.5em; /* 24 / 16 */
  margin-bottom: 0.6666em; /* 16 / 24 */
}

.container_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn_header {
  font-size: 16px;
  padding: 12px;
  max-width: 150px;
  text-align: center;
  margin-top: 100px;
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(145deg, #0a0f2c, #1b1f47);
  border: 2px solid #4ec3ff;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(78, 195, 255, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn_header:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -25%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(78, 195, 255, 0.2) 0%, transparent 80%);
  transform: rotate(25deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.btn_header:hover::before {
  opacity: 1;
  top: -80%;
  left: -50%;
}

.btn_header:hover {
  box-shadow: 0 0 20px #4ec3ff;
  border-color: #ffffff;
}

.stars {
  width: 1px;
  height: 1px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  position: absolute;
}

/*




.footer-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-menu a:hover {
  color: #1e90ff; !* Couleur au survol *!
}

ul.sub_menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  font-size: 16px;
}

footer{
  display: flex;
  justify-content: left;
}


@media screen and (min-width: 768px) {

  .footer-menu{
    flex-direction: row;
    gap: 24px;
    margin: 32px 24px 0 0;
  }
  footer{
    margin-left: 0;
  }
  nav.menu-footer-container{
    margin-left: 32px;
    text-align: center;
  }
  }
@media screen and (min-width: 1000px) {
  .footer-menu{
    gap: 83px;
    margin-left: 0;
    margin-right: 20px;
    width: 100%;
    justify-content: center;
  }
}*/
/*
.footer-menu {
  list-style: none;
  margin: 24px 24px 24px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}*/
.footer-menu {
  margin-top: 48px;
  margin-left: 24px;
}

#menu-footer .menu_item > a[href="http://wordpress-portfolio.test/en/category/non-classe/"] {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  margin-bottom: 16px;
  color: white;
  text-decoration: none;
}

a[href="http://wordpress-portfolio.test/category/non-classe-fr/"] {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.sub-menu {
  color: white;
  font-size: 16px;
  font-family: Exo Light, sans-serif;
  margin: 12px 0;
  display: flex;
  flex-direction: column;
}

.menu_item a {
  display: flex;
  text-decoration: none;
  color: white;
  margin: 8px 0;
}

@media screen and (min-width: 768px) {
  .footer-menu {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 24px 0;
  }
}
main.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scene {
  perspective: 1000px;
  width: 300px;
  height: 300px;
  position: relative;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1s ease;
}

.carousel article {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 0;
  transform-style: preserve-3d;
  margin-left: -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-align: center;
}

.carousel .slide {
  transform-style: preserve-3d;
}

.carousel .slide img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.carousel .slide a {
  margin-top: 10px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.carousel .slide a .title_project_3 {
  position: relative;
  top: -20px;
}

.arrow {
  position: absolute; /* Utilisation de `absolute` pour les flèches */
  font-size: 2em;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.left {
  left: 10px; /* Colle la flèche gauche au bord de l'écran */
  top: 1000px;
}

.right {
  right: 10px; /* Colle la flèche droite au bord de l'écran */
  top: 1000px;
}

.title_project {
  font-size: 32px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .scene {
    overflow: hidden;
  }
  .carousel .slide img {
    width: 150px;
    height: 200px;
  }
}
@media screen and (max-width: 320px) {
  .left {
    left: 0;
    top: 1000px;
  }
  .right {
    top: 1000px;
  }
}
body {
  color: white;
}

.title_form, .title_coordonnées {
  font-family: "Orbitron Bold", sans-serif;
  font-size: var(--font-size-title);
  text-align: center;
}

.container_form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding: 1.5em; /*  24  /16  */
  border-radius: var(--border-radius);
  border: 1px solid #4ec3ff;
  background: linear-gradient(145deg, #0a0f2c, #1b1f47);
  margin: 0 1.5em 1.5em; /* 24 / 16 */
}

label {
  font-size: var(--font-size-text);
  font-family: Exo Light, sans-serif;
}

.btn_submit {
  font-size: var(--font-size-text);
  padding: 0.75em 1.25em; /* 12 / 16  20 / 16 */
  min-width: 9.375em; /* 150  /16 */
  text-align: center;
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(145deg, #0a0f2c, #1b1f47);
  border: 2px solid #4ec3ff;
  color: white;
  border-radius: 0.75em; /* 12 / 16 */
  cursor: pointer;
}

.input_form {
  color: white;
  padding: 1.25em 1em; /* 20 / 16  16 / 16 */
  width: 100%;
  height: 15px;
  border-radius: 0.75em; /* 12 / 16 */
  background-color: #0D2436;
  border: 1px solid #314E63;
  resize: vertical;
  box-sizing: border-box;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1.5em; /* 24  / 16 */
  justify-content: left;
  background: linear-gradient(145deg, #0a0f2c, #1b1f47);
  border: 2px solid #4ec3ff;
  padding: 1.5em; /* 24 / 16 */
  border-radius: 20px;
  margin: 0 1.5em; /* 24  /16 */
}

.item {
  text-decoration: none;
  display: block;
  margin: 1em 0;
  color: white;
}

.liste_cord {
  font-size: var(--font-size-text);
  color: white;
  font-weight: bolder;
  font-family: Exo Light, sans-serif;
}

.container_form p {
  color: red;
}

@media screen and (min-width: 420px) {
  .container_form {
    margin: 0 2em; /* 32 / 2 */
  }
  aside {
    margin: 1.5em 2em; /* 24 / 16   32 / 16 */
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 1.5em; /* 24 / 16 */
    justify-content: center;
    align-items: flex-start;
  }
  .container_form {
    margin-right: 0;
  }
  aside {
    margin: 0 1.5em;
  }
}
.navigation_project a {
  font-family: Orbitron-light, sans-serif;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 16px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  width: 80px;
  max-width: 80px;
  text-align: center;
  color: white;
}

.navigation_project {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
  margin: 24px 0;
}

.project-card {
  background-color: #0E122E;
  border: 2px solid #ccc; /* Bordure */
  padding: 20px 20px 0;
  border-radius: 8px; /* Coins arrondis */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 24px 24px;
  max-width: 250px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
}

.image_project {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.name_project {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 16px;
}

.project_title {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  margin: 24px auto;
  text-align: left;
}

@media screen and (min-width: 450px) {
  .navigation_project {
    flex-wrap: nowrap;
  }
}
.container_project {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .project_title, .navigation_project {
    margin-left: 25px;
  }
}
@media screen and (min-width: 1000px) {
  .project_title {
    margin-left: 50px;
  }
  .navigation_project {
    padding: 20px;
    margin: 0 32px auto;
    justify-content: left;
  }
  .navigation_project a {
    width: 150px;
    max-width: 200px;
    padding: 20px;
  }
}
.back {
  font-size: 16px;
  font-family: "Orbitron Light", sans-serif;
  text-decoration: none;
  margin: 32px 24px;
  color: white;
}

.project_section p {
  font-size: 16px;
  font-family: "Exo Light", serif;
  max-width: 100%;
  margin-bottom: 3.333em;
  margin-top: 1.333em;
  line-height: 1.6;
  text-align: left;
}

.project_name_single_page {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  margin: 32px 24px;
}

.project_section {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  margin: 32px 24px;
}

.projet_title_single_page {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  margin: 24px 0;
}

.image_concept {
  max-width: 200px;
}

.img_concept {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project_section p {
  margin-bottom: 24px;
  max-width: 1000px;
  margin-right: 24px;
}

.container_card {
  padding: 24px 32px 0;
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 24px 24px;
}

.card_1, .card_2, .card_3 {
  max-width: 200px;
  background: #0E122E;
  border: 1px solid white;
  border-radius: 8px; /* Coins arrondis */
  padding: 0 20px;
}

.card_1 img, .card_2 img, .card_3 img {
  max-width: 200px;
}

.title_other_project {
  font-size: 16px;
  font-family: "Orbitron Bold", sans-serif;
  margin: 24px 12px;
}

.other_project_title {
  text-align: left;
  font-size: 24px; /* tu peux augmenter la taille pour un H2 */
  font-family: "Orbitron Bold", sans-serif;
  margin: 24px auto;
}

.project-title_wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

/* code permetant de gérer les gros écrans */
.container_max_width {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container_card {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .img_concept {
    flex-direction: row;
  }
  .project_section {
    margin: 32px 50px;
  }
}
@media screen and (min-width: 1000px) {
  .project_name_single_page {
    margin: 32px 48px;
  }
}
:root {
  --font-size-title: 1.25em; /* 20 /16 */
  --font-size-text: 1em; /* 16 / 16 */
  --border-radius: 1.25em; /* 20 / 16 */
}

:root {
  --font-size-title: 1.25em; /* 20 /16 */
  --font-size-text: 1em; /* 16 / 16 */
  --border-radius: 1.25em; /* 20 / 16 */
}

.container_about {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  justify-content: left;
}

.image_presentation {
  height: auto;
  object-fit: contain;
  order: -1;
  position: relative;
  width: 100%;
  z-index: 1;
}

.title_exploration, .parcours, .title_competence, .compétences {
  font-size: var(--font-size-title);
  font-family: "Orbitron Bold", sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  /*
  margin: 0 auto;
  */
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 32px;
}

.description_exploration {
  font-size: var(--font-size-text);
  font-family: "Exo", sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  width: 100%;
  max-width: 700px;
  /*
  margin: 0 auto;
  */
  box-sizing: border-box;
}

.parcours {
  margin: 32px 24px;
}

.parcours-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: left;
  margin: 0 24px;
}

.year {
  font-size: var(--font-size-title);
  font-family: "Orbitron Bold", sans-serif;
  margin-bottom: 16px;
}

.description_year {
  font-size: var(--font-size-text);
  font-family: Exo Light, sans-serif;
}

.item_description {
  border: 1px solid white;
  border-radius: 8px;
  padding: 24px;
}

.container_competences {
  margin: 32px 12px 0;
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow: hidden;
  overflow-x: auto;
}

.item_competence {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
}

.top_competence {
  display: flex;
  align-items: center;
  gap: 16px;
}

.img_competences {
  max-width: 50px;
  max-height: 50px;
}

.title_competence {
  font-size: 1.2rem;
  font-weight: bold;
}

.compétences {
  margin: 32px 24px;
}

.description_competence {
  font-size: 1rem;
  color: white;
  max-width: 200px;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .parcours-container {
    margin: 0 50px;
  }
  .container_competences {
    margin: 32px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
  }
  .item_competence {
    height: 150px;
  }
  .container_about {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0 50px;
  }
  .parcours, .compétences {
    margin: 50px 50px;
  }
  .container_content {
    order: -1;
  }
}
@media screen and (min-width: 1000px) {
  .container_competences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
  }
  /* .container_about,.section_parcours{
     margin: 0 100px;
   }*/
  .image_presentation {
    max-width: 300px;
    max-height: 300px;
  }
  .parcours, .compétences, .parcours-container {
    margin: 50px 100px;
  }
  .container_about {
    margin: 0 100px 50px;
  }
}

/*# sourceMappingURL=main.css.map */
