.navigation_project a {
  font-family: Orbitron-light, sans-serif;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  padding: 1em;
  background-color: transparent;
  border: 0.0625em solid white;
  border-radius: 1.25em;
  width: 5em;
  max-width: 5em;
  text-align: center;
  color: white;
}

.navigation_project {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5em 0;
}

.navigation_project a:hover {
  background: #4ec3ff;
}

.project-card {
  width: 15.625em;
  height: 21.25em;
  background: linear-gradient(145deg, #0a0f2c, #1b1f47);
  border: 0.125em solid #4ec3ff;
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5em;
  text-align: center;
  box-shadow: 0 0 0.5em #4ec3ff66;
}

.project-card:hover {
  box-shadow: 0 0 1.875em #4ec3ff;
}

.image_project {
  height: 17.5em; /* Taille fixe des images */
}

.name_project {
  font-size: 1.125em;
  font-family: "Orbitron Bold", sans-serif;
  margin: 0.75em 0 0 0;
  padding: 0 0.5em;
  color: white;
  height: 3.75em;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  gap: 1.5em;
}

.project_title {
  font-size: 1.25em;
  font-family: "Orbitron Bold", sans-serif;
  margin: 0 auto;
  text-align: left;
}

.navigation_project a.active {
  color: white; /* couleur orange vif active */
  background: #4ec3ff;
  font-weight: bold;
}

.container_project {
  padding: 4.6875em 1.5em 0;
}

@media screen and (min-width: 450px) {
  .navigation_project {
    flex-wrap: nowrap;
  }
}

.container_project {
  max-width: 75em;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .project_title {
    padding-left: 2em;
    margin: 0 auto;
  }

  .navigation_project {
    padding: 1.25em;
    margin: 0 2em auto;
    justify-content: center;
  }

  .navigation_project a {
    width: 9.375em;
    max-width: 12.5em;
    padding: 1.25em;
  }
}
