
.back {
  font-size: 16px;
  font-family: "Orbitron Light", sans-serif;
  text-decoration: none;
  margin: 32px 24px;
  color: white;
}

.project_section p {
  font-size: 16px;
  font-family: "Exo Light", serif;
  max-width: 100%;
  margin-bottom: 3.333em;
  margin-top: 1.333em;
  line-height: 1.6;
  text-align: left;

}
.project_name_single_page {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  margin: 32px 24px;
}

.project_section {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  margin: 32px 24px;
}

.projet_title_single_page {
  font-size: 20px;
  font-family: "Orbitron Bold", sans-serif;
  margin: 24px 0;
}

.image_concept {
  max-width: 200px;
  height: 400px;
  width: 100%;
}

.img_concept {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project_section p {
  margin-bottom: 24px;
  max-width: 1183px;
}


.title_other_project{
  font-size: 16px;
  font-family: "Orbitron Bold",sans-serif;
  margin:  24px 12px;
}


.other_project_title {
  text-align: left;
  font-size: 24px;
  font-family: "Orbitron Bold", sans-serif;
  margin: 24px auto;
}
.project-title_wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

/* code permetant de gérer les gros écrans */
.container_max_width {
  max-width: 1284px;
  margin: 0 auto;
  width: 100%;
}



.cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:24px;
}
#cta{
  max-width: 300px;
  padding: 24px;
  width: 350px;
  height: 70px;
}


@media screen and (min-width: 768px){
  .container_card{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .img_concept{
    flex-direction: row;
    gap: 100px;
  }
  .container_max_width{
    padding: 0 24px;
  }
}


@media screen and (min-width: 1000px) {
  .cta{
    flex-direction: row;
    gap: 24px;
  }
}