@import "variable";


.project_section p {
  font-size: var(--font-size-text);
  font-family: var(--font-familly-Exo), sans-serif;
  max-width: 100%;
  margin-bottom: 3.333em;
  margin-top: 1.333em;
  line-height: 1.6em;
  text-align: left;

}

.project_name_single_page {
  font-size: var(--font-size-title);
  font-family: var(--font-familly-Orbitron), sans-serif;
  margin: 1.6em 1.2em; /* 32 /20  24 / 20 */
}

.project_section {
  font-size: var(--font-size-title);
  font-family: var(--font-familly-Orbitron), sans-serif;
  margin: 1.6em 1.2em; /* 32 /20  24 / 20 */
}


.image_concept {
  max-width: 200px;
  height: 400px;
  width: 100%;
}

.img_concept {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project_section p {
  max-width: 1183px;
}


.title_other_project {
  font-size: var(--font-size-title);
  font-family: var(--font-familly-Orbitron), sans-serif;
  margin: 1.5em 0.75em;/* 24 / 16  12 / 16 */
}


.other_project_title {
  text-align: left;
  font-size: 1.5em; /* 24 / 16 */
  font-family: var(--font-familly-Orbitron), sans-serif;
  margin: 1em auto;
}

.project-title_wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5em;/* 24 / 16 */
}

/* code permetant de gérer les gros écrans */
.container_max_width {
  max-width: 1284px;
  margin: 0 auto;
  width: 100%;
}


.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

#cta {
  max-width: 300px;
  padding: 24px;
  width: 350px;
  height: 70px;
}


@media screen and (min-width: 768px) {
  .container_card {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .img_concept {
    flex-direction: row;
    gap: 100px;
  }
  .container_max_width {
    padding: 0 24px;
  }
}


@media screen and (min-width: 1000px) {
  .cta {
    flex-direction: row;
    gap: 24px;
  }
}