:root {
  --font-size-title: 1.25em; /* 20 /16 */
  --font-size-text: 1em; /* 16 / 16 */
  --border-radius: 1.25em; /* 20 / 16 */
  --font-familly-Orbitron: "Orbitron Bold", sans-serif;
  --font-familly-Exo : "Exo Light", sans-serif;
  --margin-24px: 1.5em;
  --padding-24px: 1.5em;
}